/** Size of two container */
/*
.soc {
    margin-left: 5vw;
    height: 60vw;
    width: 60vw;
}

.pho {
    margin-top: 6vw;
    margin-left: 0px;
    margin-right: 15vw;
    height: 60vw;
    width: 70vw
}

.profile-container {
    margin-top: 1vw;
    margin-left: 1vw;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: 0.5vw dashed yellow;
    overflow: hidden;
}

.profile-container img {
    width: 23w;
    height: 23vw;
    object-fit: cover;
}

/*  style the discrption contaioner
.stater {
    margin-left: 5vw;
    font-size: 3vw;
    margin-top: 10vw;
}

.stater2 {
    margin-left: 2vw;
    margin-top: 1vw;
    font-size: 2vw;

}

.social-icons {
    margin-left: 9vw;
    margin-right: 0;
    margin-top: 3vw;
}

.social-icons #item {
    margin-left: 2vw;
    color: black;
}*/